h1{
    display: inline-block;
    padding: 20px;
    margin: 3px;
    font-size: 40px;
}


body{
    text-align: center;
    background-color: black;
    color: white;
}

#music{
    opacity: 0;
    display: block;
}


.para{
    color: turquoise;
}

.mainhead{
    font-size: 50px;
}

#mybutton{
    width: 200px;
    height: 40px;
}

#fixed{
    width: 70px;
    height: 20px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
}

.instruct{
    border:2px solid lightseagreen;
}

#startbut , #stopbut , #resetbut{
    margin: 5px;;
}